html{
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
.cim{
    font-size: 75px;
    font-weight: bold;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    grid-template-rows: 1fr 3fr;
}
.menu{
    border: 5px solid antiquewhite;  
    color: antiquewhite;
    border-radius: 5px;
    background-color: darkblue;
    box-sizing: border-box;
    text-align: left;
    position: sticky;
    top: 20vh;
    overflow: hidden;
    font-family: "Poltawski Nowy", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
}
nav > p{
    text-align: center;
}
nav > ul{
    padding: 0px;
    margin: 0px;
    width: inherit;
    list-style-type: none;
}
a.oldal:link{
    color: antiquewhite;
    background-color: darkblue;
    text-decoration: none;    
}
a.oldal:visited{
    color: antiquewhite;
    background-color: darkblue;
    text-decoration: none;   
}
a.oldal:hover{
    color: darkblue;
    background-color: antiquewhite;
    text-decoration: none;    
}
a.oldal:active{
    color: antiquewhite;
    background-color: rgb(220, 110, 0);
    text-decoration: none;   
}
a.oldal:focus{
    color: antiquewhite;
    background-color: rgb(220, 110, 0);
    text-decoration: none;   
}

.content{

}