html{
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    background-color: lightblue;
}
.cim{
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    background-color: darkblue;
    color: antiquewhite;
}
.container{
    display: flex;
    grid-template-rows: 1fr 2fr;
    align-items: start;
    gap: 10px;
}
.menu{
    border: 5px solid antiquewhite;  
    color: antiquewhite;
    border-radius: 5px;
    background-color: darkblue;
    box-sizing: border-box;
    text-align: left;
    position: sticky;
    top: 1rem;
    overflow: auto;
    font-family: "Poltawski Nowy", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    margin: 5px;
    padding: 2px;
}
nav > p{
    text-align: center;
    margin: 0;
    padding: 0;
}
nav > ul{
    padding: 0px;
    margin: 0px;
    width: inherit;
    list-style-type: none;
}
/*linkek szerkeszutése*/
a.oldal:link{
    color: antiquewhite;
    background-color: darkblue;
    text-decoration: none;    
}
a.oldal:visited{
    color: antiquewhite;
    background-color: darkblue;
    text-decoration: none;   
}
a.oldal:hover{
    color: darkblue;
    background-color: antiquewhite;
    text-decoration: none;    
}
a.oldal:active{
    color: antiquewhite;
    background-color: rgb(220, 110, 0);
    text-decoration: none;   
}
a.oldal:focus{
    color: antiquewhite;
    background-color: rgb(220, 110, 0);
    text-decoration: none;   
}

.content{
    margin: 5px;

}
.libre-franklin- {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    }
p{
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin-left: 260px;
    font-size: 20px;
    text-align: left;
    }

h2{
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 50px;
    font-style: normal;
    margin-left: 240px;
    text-align: left;
    }
h3{
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 30px;
    font-style: normal;
    text-align: left;
}

