/*Html*/

html{
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    
}
.cim{
    font-size: 75px;
    font-weight: bold;
    color: antiquewhite;
    margin: 0px;
    font-family: "Libre Franklin", sans-serif;
    border: white 2px solid;
    border-radius: 14px;
}
header{
    background-color: darkblue;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    grid-template-rows: 3fr 1fr;
    align-items: start;
}
nav{
    margin:0;
    border-top: 5px solid antiquewhite;  
    border-bottom: 5px solid antiquewhite; 
    color: antiquewhite;
    background-color: darkblue;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
    font-family: "Poltawski Nowy", serif;
    font-weight: 600;
    font-style: italic;
    font-size: 30px;
    margin: 5px;
    padding: 2px;
}
nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: darkblue;
  display: flex;
  justify-content: center;
}
ul li a {
  display: block;
  color: antiquewhite;
  padding: 14px 16px;
  text-decoration: none;
}
hr{
    margin: 5px;
}
/*----------------------------------------*/
/*linkek szerkesztése*/
a.oldal:link{
    color: antiquewhite;
    background-color: darkblue;
    text-decoration: none;    
}
a.oldal:visited{
    color: antiquewhite;
    background-color: darkblue;
    text-decoration: none;   
}
a.oldal:hover{
    color: darkblue;
    background-color: antiquewhite;
    text-decoration: none;    
}
a.oldal:active{
    color: antiquewhite;
    background-color: rgb(70,149,214);
    text-decoration: none;   
}
a.oldal:focus{
    color: antiquewhite;
    background-color: rgb(70,149,214);
    text-decoration: none;   
}

.content{
    margin: 10px;
    padding-left: 150px;
}
.kepek{
    border: 2px solid darkblue;
}
/*----------------------------------------*/
/*Betű, fontok, betűstílusok*/
.libre-franklin- {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    }
p{
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    text-align: left;
    }

h2{
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 50px;
    font-style: normal;
    text-align: left;
    }
h3{
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 30px;
    font-style: normal;
    text-align: left;
}

.content > ul{
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
}

.content > a{
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    font-size: 22px;
}
/*----------------------------------------*/
/* Képek formázása*/
.kepek{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}
.szabadidokepek{
    border:rgb(47, 107, 104) 2px solid;
    border-radius:15px;
    width:550px;
}
.muzeumkepek{
    border:rgb(59, 53, 53) 2px solid;
    border-radius:15px;
    width:550px;
}
.varoskepek{
    border:rgb(180, 42, 0) 2px solid;
    border-radius:15px;
    width:550px;
}
figcaption{
    font-size: 25px;
    text-align: center;
}
table, th, td{
    border: 2px green solid;
    border-collapse: collapse;
    background-color:lightgrey
    

}
th{
    background-color: darkseagreen;
    
}
/*----------------------------------------*/
/*Tura weboldal egyedi stíluslap*/
.tura{
    border:solid 2px ;
    border-radius: 20px;
    background-color:darkolivegreen;
    padding: 20px;
}
.tura2{
       border:solid 2px ;
    border-radius: 20px;
    background-color:lightgreen;
    padding: 20px;
}
.turakepek{
    border:darkolivegreen 2px solid;
    border-radius:15px;
    width:550px;
}
.turalap{
    background-color:#C19A6B;
}
/*----------------------------------------*/
/*Index weboldal egyedi stíluslap*/
.indexlap{
    background-color: lightblue;
}
/*----------------------------------------*/
/*Város weboldal egyedi stíluslap*/
.varoslap{
    background-color: #648381;
}

.varos1{
    border:1px solid #81171B;
    border-radius: 10px;
    background-color: #8FBDBA;
    padding: 20px;
    max-width: 75%;
}
/*----------------------------------------*/
/*Szabadidőalap weboldal egyedi stíluslap*/
.szabadidolap{
    background-color: rgb(177, 236, 177);
}

.ido{
    border:rgb(47, 107, 104) 2px solid;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(109, 162, 134);
}
/*----------------------------------------*/
/*Múzeum weboldal egyedi stíluslap*/
.muzeumlap{
    background-color: lightslategray;
}

.happy{
    border:2px solid darkblue;
    border-radius:20px;
    padding: 20px;
    background-color:cornflowerblue;
}


